<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.blockcom.board.biz.boardfree.mapper.BoardFreeMapper">
	<!-- seq
	       ,parent_seq
	       ,category
	       ,writer
	       ,title
	       ,content
	       ,view_count
	       ,notice_flag
	       ,secret_flag
	       ,mod_date
	       ,reg_date -->
	       
	       
	       
	       
	<select id="selectPostList" parameterType="kr.co.blockcom.board.vo.board.BoardFree" resultType="kr.co.blockcom.board.vo.board.BoardFree">
		SELECT
		       seq
		       ,writer
		       ,title
		       ,view_count
		       ,reg_date
		       ,secret_flag
	    FROM
			board_free
	    WHERE
			comment_flag='N'
		AND
			delete_flag='N'
		AND
			notice_flag='N'
		ORDER BY
			seq DESC
	</select>
	
    <select id="selectPost" parameterType="int" resultType="kr.co.blockcom.board.vo.board.BoardFree">
	    SELECT
	       seq
	       ,category
	       ,writer
	       ,title
	       ,content
	       ,view_count
	       ,notice_flag
	       ,secret_flag
	       ,mod_date
	       ,reg_date
	    FROM
	       board_free
	    WHERE
	       seq=#{seq}
	    AND
	       comment_flag='N'
	    AND
	       delete_flag='N'
    </select>
    
    <select id="selectPostPassword" parameterType="int" resultType="kr.co.blockcom.board.vo.board.BoardFree">
	    SELECT
	       seq
	       ,password
	    FROM
	       board_free
	    WHERE
	       seq=#{seq}
	    AND	    
	       delete_flag='N'
		AND
	       comment_flag='N'
    </select>

    <insert id="insertPost" parameterType="kr.co.blockcom.board.vo.board.BoardFree" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO board_free(
            category
            ,writer
            ,password
            ,title
            ,content
            ,notice_flag
            ,secret_flag            
            ,reg_date
            ,comment_flag
        ) VALUES (
            #{category}
            ,#{writer}
            ,#{password}
            ,#{title}
            ,#{content}
            ,#{notice_flag}
            ,#{secret_flag}
            ,now()
            ,'N'
        )
    </insert>
    
    <update id="updatePost" parameterType="kr.co.blockcom.board.vo.board.BoardFree">
		UPDATE board_free
		SET
			title = #{title}
			 , content = #{content}
			 , mod_date = now()
			 
		WHERE
			seq = #{seq}
		AND
			password = #{password}
	</update>

	<update id="deletePost" parameterType="int">
		UPDATE board_free
		SET
			delete_flag='Y'
		WHERE
			seq = #{seq}
		AND
			delete_flag='N'
	</update>

	<update id="updateViewCount" parameterType="kr.co.blockcom.board.vo.board.BoardFree">
		UPDATE board_free
		SET
			view_count = view_count+1
		WHERE
			seq = #{seq}
	</update>

	<insert id="insertComment" parameterType="kr.co.blockcom.board.vo.board.BoardFree">
	INSERT INTO board_free(
            category
			,parent_seq
            ,writer
            ,password
            ,content
            ,secret_flag            
            ,reg_date
            ,comment_flag
        ) VALUES (
            #{category}
			,#{parent_seq}
            ,#{writer}
            ,#{password}
            ,#{content}
            ,#{secret_flag}
            ,now()
            ,'Y'
        )
	</insert>
	
	<select id="selectCommentList" parameterType="kr.co.blockcom.board.vo.board.BoardFree" resultType="kr.co.blockcom.board.vo.board.BoardFree">
		SELECT
		       seq
		       ,writer
			   ,content
				,mod_date
		       ,reg_date
		       ,secret_flag
	    FROM
			board_free
	    WHERE
	    	parent_seq = #{parent_seq}
	    AND	
			comment_flag='Y'
		AND
			delete_flag='N'
		ORDER BY
			seq ASC
	</select>
</mapper>